<header>
    <nav>
        <a href="/">ForumApp</a>
        <ul>
            <li><a href="/forums">Forums</a></li>
            <li><a href="/forums/new">Add Forum</a></li>
            <li><a href="/topics">Topics</a></li>
            <li><a href="/topics/new">Add Topics</a></li>
        </ul>
    </nav>
</header>